<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>진주 시내버스</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row align-items-center offset-3">
                <div class="col-8">
                    <button class="btn btn-primary btn-lg btn-block">승객 페이지</button>
                    <button class="btn btn-primary btn-lg btn-block">기사 페이지</button>
                </div>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.bundle.js"></script>
    </body>
</html>
