<html>
    <head>
        <meta charset="UTF-8"/>
        <title>진주 시내버스</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <a href="/dbtest">Civilian</a>
                </div>
                <div class="span6">
                    <a href="/dbtest">Driver</a>
                </div>
            </div>
        </div>
    </body>
</html>
