<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.ord/DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.busreservation.mapper.NodeMapper">
    <insert id="insertOrUpdateNode">
        MERGE INTO t_node USING DUAL ON nodeid = #{nodeid}
            WHEN NOT MATCHED THEN INSERT VALUES (#{nodeid}, #{nodeno}, #{nodename}, #{gpslati}, #{gpslong})
            WHEN MATCHED THEN UPDATE SET nodeno=#{nodeno}, nodename=#{nodename}, gpslati=#{gpslati}, gpslong=#{gpslong}
    </insert>

    <select id="getAllNodes" resultType="com.example.busreservation.dto.Node">
        SELECT nodeid,
               nodeno,
               nodename,
               gpslati,
               gpslong
        FROM
            v_node;
    </select>
    
    <select id="getNodeByNodeID" resultType="com.example.busreservation.dto.Node">
        SELECT nodeid,
               nodeno,
               nodename,
               gpslati,
               gpslong 
        FROM 
            v_node 
        WHERE 
            nodeid = #{nodeid};
    </select>
</mapper>